@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@font-face {
  font-family: 'arcade';
  src: url(~fonts/arcade.ttf) format('ttf'),
    url(~fonts/arcade.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// font-family: 'IBM Plex Mono', monospace;