@import './_fonts';
@import './_reset';
@import './cool-media';

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.app--background {
  background-color: #1c1c1c;
}
.app--layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content--limiter {
  max-width: 1024px;
  margin: 0 auto;
}
.app-header {
  flex-basis: 20%;
  background: transparent;
  border-bottom: 1px solid #303030;
}
.logo {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: 300;
  color: #808080;
  margin: 10px 0;
  @media (max-width: 1024px) {
    padding: 0 10px;
  }
}
.app-main {
  flex: 60%;
  font-size: 2rem;
  background: transparent;
}

.badge {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #afd7af;
  margin: 120px 0;
  &__title {
    font-family: 'arcade';
    font-size: 8rem;
    text-transform: uppercase;
    padding-bottom: 40px;
    @include desktop-props((
      font-size: (
        1024: 6rem,
      ),
    ));
    @include mobile-props((
      375: 3rem, 
      590: 3.5rem,
    ));
  }
  &__action {
    font-size: 2rem;
    font-weight: 200;
    @media (max-width: 767px) {
      font-size: 1.4rem;
    }
    @media (max-width: 320px) {
      font-size: 1.2rem;
    }
  }
}

.app-footer {
  flex-basis: 20%;
  background: transparent;
  border-top: 1px solid #303030;
}
.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.copywrite {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: 300;
  color: #808080;
  display: flex;
  @media (max-width: 1024px) {
    padding: 0 10px;
  }
  &__text {
    line-height: 200%;
    text-transform: uppercase;
  }
}
.social {
  flex-basis: 10%;
  display: flex;
  &__icon {
    cursor: pointer;
    fill: #808080;
    padding: 0 5px;

    &-mail {
      width: 75%;
      transition: fill 0.5s;
      &:hover {
        fill: #5fd7d7;
      }
    }
    &-twitter {
      width: 75%;
      transition: fill 0.5s;
      &:hover {
        fill: #1da1f2;
      }
    }
  }
}
