@import './_fonts';
@import './_reset';
@import './utils/cool-media';
@import './variables';
@import './color-scheme/color.scheme';
/* LAYOUTS */
@import './header/index.scss';
@import './main/index.scss';
@import './footer/index.scss';
/* BLOCKS */
@import './blocks/message.scss';
@import './blocks/social.scss';


.color-test {
  color: var(--color);
  background-color: var(--background-color);
}

.app--background {
  --duration: 0.3s;
  --timing: ease;

  transition: color var(--duration) var(--timing), background-color var(
        --duration
      ) var(--timing);
  background-color: var(--background-color);
  // background-image: url('../public/img/mainbg.jpeg');
}

.app--layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content--limiter {
  @include all-props((
    margin: 0 auto,
    max-width: (
      0: 91vw,
      960: 88vw,
      1024:86vw,
    )
  ));
}
